@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-MAIN;
  position: relative;
  overflow: hidden;
}

@layer components {
  .form-input-element {
    @apply border-2 rounded-md outline-none border-sky-100/60 bg-sky-100/60;
    @apply focus:border-sky-200/60 focus:bg-sky-200/60;
    @apply md:text-xl;
  }

  .navbar-centering {
    @apply flex flex-col items-center justify-center gap-0.5;
  }

  .nav-active-tab {
    @apply bg-sky-400;
    @apply text-MAIN;
  }

  .canva {
    @apply px-3 py-2 mb-6 rounded-lg bg-CANVA;
    @apply md:px-8 md:py-6 md:rounded-2xl;
  }

  .button-ion-icon {
    @apply text-lg;
    @apply md:text-2xl;
  }
}

@layer utilities {
  .animate-bounce-lr {
    animation: bounce-left-right 1s infinite;
  }
}

@keyframes bounce-left-right {
  0%,
  100% {
    transform: translateX(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
